<div class="footer d-flex flex-row align-items-center justify-content-between">
  <div class="pl-5">
    <p>Gonzalo Zaragoza</p>
    <p>Developer and Creative Technologist</p>
  </div>
  <div class="pr-5 d-flex flex-row">
    <p class="mr-3">
      <a href="https://github.com/gozaro" target="blank"
        ><fa-icon [icon]="faGithub"></fa-icon
      ></a>
    </p>
    <p>
      <a href="https://gitlab.com/gzaragoza" target="blank"
        ><fa-icon [icon]="faGitlab"></fa-icon
      ></a>
    </p>
  </div>
</div>
