.footer {
  background-color: #212121;
  color: #fff;
  height: 125px;
  /* background: linear-gradient(#77c3c2, #d49d9d); */
}

p {
  line-height: 1.1;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}
