<ng-container *ngFor="let project of projects">
  <div class="container-fluid pl-0 pr-0">
    <div class="row">
      <div class="col-md-6 pl-0 pr-0">
        <div
          style="
            padding: 56.25% 0 0 0;
            position: relative;
            background-color: #000;
          "
          *ngIf="project.video_case.length !== 0"
        >
          <iframe
            *ngIf="project.video_case.length !== 0"
            [src]="project.video_case | safe"
            style="
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            "
            frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <!-- <script src="https://player.vimeo.com/api/player.js"></script> -->
        <img
          *ngFor="let img of project.images"
          src="../../assets/images/{{ img.img }}"
          class="image-project-description"
        />
      </div>
      <div
        class="col-md-6 project-text-description-column pt-5 pl-5 pr-5 mr-0"
        [style]="{
          'background-color': project.bgcolor,
          color: project.font_color
        }"
      >
        <h4 class="mb-3">{{ project.project_name }}</h4>

        <ul class="pl-0 ml-0">
          <li><strong>Role in the project:</strong> {{ project.role }}</li>
          <li><strong>Technologies:</strong> {{ project.technologies }}</li>
          <li><strong>Agency:</strong> {{ project.agency }}</li>
          <li *ngIf="project.prices !== ' '">
            <strong>Awards:</strong> {{ project.prices }}
          </li>
        </ul>

        <p>{{ project.description }}</p>
        <p>{{ project.problem }}</p>
        <p>{{ project.solution }}</p>

        <ul class="pl-0 ml-0">
          <li class="iconFA" *ngFor="let link of project.links">
            <a href="{{ link.url }}" target="_blank">{{ link.description }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-container>
