.image-project-description {
  width: 100%;
}

iframe {
  border: none;
  width: 100%;
  height: 360px;
  margin: 0;
  padding: 0;

  top: 0;
  left: 0;
}

.row {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.iconFA {
  content: "";
  margin: 0;
  padding: 1px 0 4px 20px;
  list-style: none;
  background-image: url("../../../assets/images/link-solid.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 13px;
}

a {
  color: #000;
}
