<div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-nav-bar></app-nav-bar>
    </div>
  </div>

  <div class="row mx-0 px-0">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-footer></app-footer>
    </div>
  </div>
</div>
