<div class="navBar">
  <span class="logo-name"><a [routerLink]="['home']">Gonzalo Zaragoza</a></span>
  <p>Software developer & Creative Technologist</p>
</div>
<div id="mySidenav" class="sidenav">
  <a [routerLink]="['home']" (click)="openClose()">Home</a>
  <ng-container *ngFor="let project of projects">
    <a [routerLink]="['project/' + project.id]" (click)="openClose()">{{
      project.project_name
    }}</a>
  </ng-container>
</div>

<div class="iconNav" (click)="openClose()">
  <span id="burgerIcon">&#9776;</span>
  <span id="closeIcon">&times;</span>
</div>
