.navBar {
  width: 100%;
  height: 159px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-name {
  line-height: 1.3;
  font-size: 34px;
}

/* Side bar positioning and animation */
.sidenav {
  height: 100%;
  /* width: 0; */
  width: 350px;
  position: fixed;
  z-index: 100;
  top: 0;
  right: -350px;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 2px 8px 2px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  overflow-x: hidden;
  transition: 0.3s;
  cursor: pointer;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

a {
  text-decoration: none;
  color: #111;
}

/* Burger nav icon */

.iconNav {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  transition: 0.5s;
  color: #000;
  z-index: 101;
}

#burgerIcon {
  display: block;
}

#closeIcon {
  display: none;
  color: #fff;
}

@media only screen and (max-width: 576px) {
  .iconNav {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 10px;
    transition: 0.5s;
    color: #000;
    z-index: 101;
  }
}
