.swiper-container {
  width: 100%;
  height: 465px;
}

.project-description {
  color: #fff;
  bottom: 0;
  padding: 5px 30px;
  position: absolute;
}

.swiper-button-prev,
.swiper-button-next {
  color: white;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background-color: #fff;
}

.swipper-text {
  display: flex;
  flex-direction: column;
}

.logo-name {
  color: #fff;
  text-align: center;
  margin-top: 55px;
  line-height: 0.2;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.project-name {
  background-color: rgba(0, 0, 0, 0.5);
  height: 50px;
  color: #fff;
  text-align: center;
  margin-top: 205px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
