<div class="logo-name">
  <h2>Gonzalo Zaragoza</h2>
  <p>Software Developer & Creative Technologist</p>
</div>

<div class="swiper-container">
  <div class="swiper-wrapper">
    <!-- Slides -->
    <ng-container *ngFor="let project of projects">
      <div
        class="swiper-slide"
        *ngIf="project.img_home.length != 0"
        [ngStyle]="{
          'background-size': 'cover',
          'background-image': 'url(../assets/images/' + project.img_home + ')'
        }"
      >
        <div class="project-name">
          {{ project.project_name }} · {{ project.client }}
        </div>
      </div>
    </ng-container>
  </div>

  <div class="swiper-pagination"></div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
