<div class="card-group">
  <div class="card border-0" *ngFor="let project of projects">
    <div
      class="card-img"
      [ngStyle]="{
        'background-image': 'url(../assets/images/' + project.thumb + ')'
      }"
    ></div>
    <div
      (click)="onMovieClick(project)"
      class="card-img-overlay d-flex flex-column justify-content-center align-items-center"
    >
      <p class="tumb-text">{{ project.technologies }}</p>
      <p class="tumb-title">{{ project.project_name }}</p>
      <p class="tumb-text">{{ project.client }}</p>
    </div>
  </div>
</div>
