.card-columns {
  column-gap: 0;
}

.card {
  min-width: 450px !important;
  min-height: 300px;
  overflow: hidden;
  background-color: #000;
  cursor: pointer;
}
.card:hover .card-img,
.card:focus .card-img {
  transform: scale(1.1);
  opacity: 0.2;
  cursor: pointer;
}
.card-img {
  width: 100%;
  height: 100%;
  background-color: black;
  background-position: center;
  background-size: cover;
  transition: all 0.6s ease-in-out;
  opacity: 1;
}

.card-img-overlay > h4,
.card-img-overlay > p {
  visibility: hidden;
}

.card-img-overlay:hover h4,
.card-img-overlay:hover p {
  visibility: visible;
}

.card:hover .card-img-overlay p {
  letter-spacing: 0.02em;
}
p,
.tumb-text {
  font-size: 12px;
  line-height: 0.7;
  color: #fff;
}
p,
.tumb-title {
  font-size: 30px;

  color: #fff;
}

@media only screen and (max-width: 576px) {
  .card {
    margin-bottom: 0px;
  }
  .card-img {
    min-height: 350px;
  }
}
